<aside class="w-full md:w-1/4 bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-6 text-gray-800">My Account</h2>
    <ul class="space-y-4">
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
          href="/profile"
        >
          <i class="fas fa-user text-gray-600 group-hover:text-black"></i>
          <span class="text-gray-600 group-hover:text-black"
            >Personal Information</span
          >
        </a>
      </li>
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
          href="/address"
        >
          <i
            class="fas fa-map-marker-alt text-gray-600 group-hover:text-black"
          ></i>
          <span class="text-gray-600 group-hover:text-black">Address</span>
        </a>
      </li>
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
          href="/orders"
        >
          <i class="fas fa-box text-gray-600 group-hover:text-black"></i>
          <span class="text-gray-600 group-hover:text-black">Orders</span>
        </a>
      </li>
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
          href="/wallet"
        >
          <i class="fas fa-wallet text-gray-600 group-hover:text-black"></i>
          <span class="text-gray-600 group-hover:text-black">Wallet</span>
        </a>
      </li>
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
          href="/coupons"
        >
          <i
            class="fas fa-ticket-alt text-gray-600 group-hover:text-black"
          ></i>
          <span class="text-gray-600 group-hover:text-black">Coupons</span>
        </a>
      </li>
      <% if (!user.googleId) { %>
        <!-- Change Password -->
        <li class="group">
          <a
            class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors"
            href="/change-password"
          >
            <i
              class="fas fa-key text-gray-600 group-hover:text-black"
            ></i>
            <span class="text-gray-600 group-hover:text-black">Change Password</span>
          </a>
        </li>
        <% } %>
      <li class="group">
        <a
          class="flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-100 transition-colors text-red-600 hover:text-red-700"
          href="/logout"
        >
          <i class="fas fa-power-off"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </aside>